<!DOCTYPE html>
<html>
<head>
  <title>Express + Svelte</title>
  <link rel='stylesheet' href='/build/bundle.css'>
</head>
<body>
  <div id="svelte-app"></div>
  <script defer src="/build/bundle.js"></script>
</body>
</html>